@using BrightLandsWayfinding.Models.Companies
@using BrightLandsWayfinding.Models.MapRoutes
@using BrightLandsWayfinding.Models.Steps
@model BrightLandsWayfinding.Models.Rooms.Room

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <div class="row">
        <div class="col-5">
                <dl class="row">
                    <dt class = "col-sm-2">
                                @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class = "col-sm-10">
                                @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class = "col-sm-2">
                                @Html.DisplayNameFor(model => model.Story)
                    </dt>
                    <dd class = "col-sm-10">
                        <a asp-controller="Stories" asp-action="UserDetails" asp-route-id="@Model.StoryID">@Html.DisplayFor(model => model.Story.Name)</a>
                    </dd>
                    <dt class = "col-sm-2">
                                @Html.DisplayNameFor(model => model.Type)
                    </dt>
                    <dd class = "col-sm-10">
                                @Html.DisplayFor(model => model.Type)
                    </dd>
                    <dt class = "col-sm-2">
                                Company)
                    </dt>
                    <dd class = "col-sm-10">
                                <a asp-controller="Companies" asp-action="Details" asp-route-id="@ViewBag.Companies.ID">@ViewBag.Companies.Name</a>
                    </dd>
                </dl>
            </div>
        <div class="col-5">
            <div class="card text-center">
                <h2 class="card-header">Routes</h2>
                <div class="card-body">
                    @{
                        foreach(MapRoute r in ViewBag.Routes){
                            <a asp-controller="MapRoute" asp-action="UserDetails" asp-route-id="@r.ID">
                                <div class="row">
                                    <div class="col-1">@r.ID</div>
                                    <div class="col-9">@r.Description</div>
                                </div>
                            </a>
                            <hr />
                        }
                    }
                </div>
            </div>
        </div>
    </div>

</div>

<div>
    <a asp-action="UserIndex">Back to List</a>
</div>
