@model IEnumerable<BrightLandsWayfinding.Models.MapRoutes.MapRoute>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Routes</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartLocation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndLocation.Name)
            </td>
            <td>

                <a asp-action="UserDetails" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
